<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Extraordinario-ignacio</title>
</head>
<body>
  <header>
    <h1 class="centro">
      Extraordinario-Teoria del caos <br>
      Ignacio Varela Lucho
    </h1>
  </header>
  <div class="centro">
    <p>"El caos es la interaccion de elementos o subconjuntos autonomos que estan situados y se mueven dentro de un mismo medio o espacio vital"

      (Por tanto, y en principio, toda interaccion o interrelacion entre elementos pueden considerarse un estado caotico, aunque despues habra que analizar su grado de caoticidad. En este sentido, y en mi teoria de conjuntos, se dan tres grados de integracion o simbiotismo de los elementos de un conjunto, que va desde el conjunto difuso (donde no existe ninguna apreciacion simbiotica) al conjunto de fusion donde los elementos forman ya un cuerpo fisico bien definido.)
      
      Es decir, que para la existencia del caos han de existir primeramente unos elementos con autonomia y caracteristicas propias y segundo que estos elementos pueden relacionarse con otros para producir ese estado caotico.
      De esta anterior explicacion tambien sacamos diversas interrogantes que despues trataremos de aclarar.
      La mas importante seria la referente a si el caos es una apreciacion humana solamente, o si el caos realmente tiene consistencia fisica.</p>
      <img src="http://fermancebo.com/hexch.GIF" alt="">
  </div>
</body>
</html>
<router-outlet></router-outlet>